---
title: Hakkımda
layout: static_pages_layout
cover: family-03.jpg
---

1972 yılında İstanbul’da doğdum. 1984 yılında ilk bilgisayarım olan **Commodore 16** 
ile tanıştım. 1987’de yine rahmetli anne-annem Muazzes Demiralp’in sayesinde 
**Commodore 64**’e terfi ettim.

Bilgisayarla oyun oynamaktansa, oyunların başında çıkan intro’lara bakmak daha 
çok hoşuma gidiyordu.

## Ben de yapmalıyım!

Tesadüfen oyun almaya gittiğim &ldquo;bilgisayarcıda&rdquo; karşılaştığım
oyun dağıtıcısının verdiği disket ile hayatım değişti. Arkadaş bana aslında
o gün hayatın sırrını vermişti:

> İngilizcen var mı? Bu diskette magazinler var, **contact** 
bölümündeki adreslere mektup yaz! Elindeki diğer disketlerden karma bir disket
hazırla, mektubu da ilave ederek gönder...

Aynen dediği gibi yaptım. İşin komiği, gönderecek malzeme de yoktu elimde.
Garip garip müzik demolarının olduğu karma bir disk hazırladım ve 15-20
kişiye gönderdim. Yaklaşık 1 ay sonra, okuldan eve döndüğümde, posta
kutusuna sokabilmek için katlanmış bir zarf ben bekliyordu. Koşarak 5 kat
merdiveni çıktım, zarfı açtım ve içinden ikiye katlanmış bir disket çıktı.

<%= zoomable src: 'impulse-norway-1989.png',
             alt: 'Commodore 64’ten ekran görüntüsü, disket directorysi',
             title: 'Yıl 1989, Impulse grubu Norveç’ten gelen disket' %>

O an itibariyle [Running Man][c64-running-man] adlı oyun [Amiga][amiga-running-man] için henüz çıkmış ve belkide
Türkiye’ye gelen ilk release bana gelmişti ama disket büküldüğü için sadece
directory olarak görüp oyunu run edememiştik. Bozuktu çünkü :)

## Dede Demo Brothers

Mahalle arkadaşım **Emre Yavuzkal** ile beraber ilk scene grubumuz olan 
[Dede Demo Brothers][dede-demo-brothers]‘ı kurduk. Tahmin edebileceğiniz
gibi benim takma adım: **Dede**, Emre’nin adı ise **Demo**‘ydu. Commodore 64
ve Sinclair’da faaliyet gösteriyorduk. Taksim Etap Marmama (_şimdiki adı The
Marmara_)’da düzenlenen **Commodore Show 89** hayatımın mihenk taşlarından
biridir.

## The Hacker Boys

[The Hacker Boys][the-hacker-boys] adlı grubumuzun “arak” introları
bu yıllara denk gelir (_8 Grup artık 6 kişidir, Amiga, Commodore 64, Sinclair
ve Atari 800 XL’de faaliyet göstermektedir._) O dönem Speed/Trash Metal çok
dinlerdim ve bu yüzden grupdaki ismimi yani nick’imi, Kreator grubunun davulcusu 
[Jürgen “Ventor” Reil][ventor]’dan aldım. Çok fazla **release** yapamadan grup 
dağılır!

<%= zoomable src: 'the-hacker-boys.png',
             alt: 'Commodore 64’ten ekran görüntüsü, the hacker boys müzik player',
             title: 'Full Screen dalgalanma, $1800 - $1806 player' %>

1989’da **Ventor** ismimle [The Joker Crew][the-joker-crew]‘a katıldım.
İlk ciddi scene hareketim buydu. Grupta fazla kalmadan dönemin en ünlü Amiga
grubu olan [Zombie Boys][zombie-boys]‘a transfer oldum.

## Zombie Boys

Türkiye’de pek çok ilki başlatan sevgili [Tunç “Turbo” Dindaş][tunc-dindas]
zamanının en efsane Amiga grubunu kurmuş bununla da kalmamış pek çok Avrupa
ülkesinden de gruba üyeler katmış. 1990 yılında Amiga sahibi olunca scene
kariyerime Amiga Coder’ı olarak devam etme kararı aldım. Bir gün tüm 
Zombie Boys elemanlarıyla [Ghostbusters 2][ghostbusters-2] filmine gittik ve
o günden sonra adım [vigo][imdb-vigo-char] oldu.

<%= zoomable src: 'zombie-boys-heavy-metal.png',
             alt: 'Amiga’dan ekran görüntüsü, Zombie Boys, Heavy Metal Demo',
             title: 'Zombie Boys, Heavy Metal Demo' %>

## Bronx

1990 yılında Zombie Boys olarak adımızı [Bronx][bronx]’a çevirdik. Pek çok şeyi
ilk kez Bronx olarak yaptık. Dünya çapında yaklaşık 120 kişiydik. Amerika,
Avustralya ve Avrupa kıtası olmak üzere toplam 3 kıtada pek çok şey ürettik:

* Demo, Intro, Oyun (File, Full-Disk)
* Grafik, Font, Müzik Diskleri
* Disk Magler, Pack Magler, Chart Mag’ler
* BBS’ler, Tool’lar
* Importlar

Övünerek söyleyebilirim ki gelmiş-geçmiş **en fazla ürünü bulunan** tek Türk
grubudur Bronx...

<%= zoomable src: 'bronx-faith-of-black.png',
             alt: 'Amiga’dan ekran görüntüsü, Bronx, Faith of Black',
             title: 'Bronx, Faith of Black' %>

## ALO Bilgi

1992 yılında, ulusal televizyon kanalları **ATV**, **SHOW TV** ve **KANAL6** 
(_artık yok!_) için, **ALO BİLGİ** bünyesinde İnteraktif Televizyon Oyunları
programladım. Bunlar; [Dinozorus 2][dinozorus-youtube], Küp Küp, 
Sokak Dövüşcüsü (_Street Fighter_) ve Futbol adlı oyunlardı. Yıllar sonra
Dinozorus’un [tüm kaynak kodlarını][dinozorus-github] bulup GitHub’a yükledim.

<%= zoomable src: 'https://raw.githubusercontent.com/vigo/dinozorus/master/screens/dino-01.png',
             alt: 'Amiga’dan ekran görüntüsü, Dinozorus oyunu',
             title: '1992 - Dinozorus Oyunu...' %>

Dinozorus dışındaki tüm oyunlar AMIGA-OCS’di ve Amiga 500’de çalışan
oyunlardı. Dinozorus Amiga 1200’de AGA chipset’i kullanıyordu ve “24-bit
Copper”, “8-bitplane Dual-Playfield” gibi, dökümantasyon / internet gibi
şeylerin olmadığı dönemlerde yapılmış orijinal donanım özellikleriydi.

Belki internet/google filan yoktu ama **Hüseyin Yeşilbaş** yani
**Ghost/Bronx** vardı. Amiga Assembly programlama konusunda bana bildiğim pek
çok şeyi öğretmiştir.

## KANAL-E (CNBC-E)

ALO BİLGİ günlerinde hem telefon hatları hemde televizyon oyunları ile
uğraştım. 1994 ekonomik krizinden sonra 1995’de bugün **CNBC-E** o günler adı
**KANAL-E** olan televizyon kanalına girdim. (*Ne yazıkki 2015 yılında kapandı*)

Türkiye’deki ilk borsa verilerini “smooth scrolling” ile çift bant ekrana
veren sistemi yazdım. Tabiiki yine Amiga 1200 ve [Genlock][glock] yardımıyla.

## Anima

1995 yılında [ANİMA][anima]‘ya girdim. “Stop Motion” filmlerde
bilgisayar operatörü olarak çalıştım. Zamanının pek çok meşhur “stop motion”
filminde görev aldım.

<%= zoomable src: 'anima.jpg',
             alt: 'Soner Arıca’nın klibi: Yanımda Yer Var',
             title: "Soner Arıca için çektiğimiz [Yanımda Yer Var](http://www.dailymotion.com/video/xpngku_soner-arica-yanimda-yer-var_music) klibi" %>

## İ.F.R

1996-97 yıllarında İstisnai Filmler ve Reklamlar yani **İFR**‘de çalıştım.
“Non-Lineer Video Editing” yani bilgisayar’la film montajlama. Editör olarak pek 
çok reklam filmi, video klip ve hatta bir tane de [uzun metraj][imdb-tabutta-rovasata]’da 
[çalıştım][imdb-ugur-ozyilmazel]. 1997-98’de “Freelance” olarak yapımcılık, reji ve 
yönetmenlik yaptım. [Uzun metraj][imdb-thicker-than-water] deneyimi kazanmak için 3 hafta 
Amerika’ya gittim.

## webBox.io

Temmuz 2013’de [webBox.io][webbox] adında bir şirket kurdum! Pek çok güzel
etkinlik yaptık, eğitimler ve seminerler düzenledik, çeşitli etkinliklere
sponsor olduk, destek olduk. Aralık 2014’te faaliyetlerine son verdik.

## İstanbul Bilgi Üniversitesi

İlk dönemim 2001 - 2012, ikinci dönemim ise Haziran 2015’ten beri olan iş yerim.
Web yönetimi bölümünde, Web Uygulama Geliştirme Sorumlusu olarak çalışmaktayım.
100’ün üzerinde web uygulamasını ayakta tutmaya ve yenilerini geliştirmekle
uğraşmaktayız.

Sevgili [Yeşim Feyzioğlu][yesimfo]’yla 1994'de üniversitede tanıştım, 2003'te evlendim.
2011’de kızımız [Ezel Özyılmazel][ezelo] dünyaya geldi.

Öğrenmeyi seviyorum. Yeni dilleri (*programlama*) takip ediyorum ve öğrenmeye
çalışıyorum. Open Source’u seviyorum. [GitHub][github-vigo]’dan projelerime destek 
olabilirsiniz. [Kitap yazmaya çalışıyorum](/sayfa/tr/kitaplar/) her türlü katkı işe yarar.

## İletişim

Benimle, yazılım geliştirme konularında, Commodore 64 / Amiga Demoscene
konularında konuşmak isterseniz;

<script type="text/javascript">
document.write("<p>");
document.write("hthebmlvyznmry\100tznvy\056pbz".replace(/[a-zA-Z]/g, function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);}));
document.write(" adresini kullanabilirsiniz. Bunların dışında sosyal ağ profillerim aşağıdadır.</p>");
</script>

* [Twitter](https://twitter.com/vigobronx) @vigobronx
* [Twitter](https://twitter.com/ugurozyilmazel) @ugurozyilmazel
* [GitHub](https://github.com/vigo)
* [Rubygems](https://rubygems.org/profiles/vigo)
* [Tumblr](http://vigo.tumblr.com/)
* [LinkedIn](https://linkedin.com/in/ugurozyilmazel)

[dede-demo-brothers]:      http://dededemobrothers.com/ "Dede Demo Brothers"
[amiga-running-man]:       http://www.lemonamiga.com/games/details.php?id=923
[c64-running-man]:         http://www.gamebase64.com/game.php?id=6521&d=18&h=0
[the-hacker-boys]:         http://thehackerboys.com/ "The Hacker Boys aka THB"
[ventor]:                  http://en.wikipedia.org/wiki/Jurgen_Reil
[the-joker-crew]:          http://csdb.dk/group/?id=1462 "The Joker Crew"
[zombie-boys]:             http://zombieboys.net/ "What A Rush!"
[tunc-dindas]:             http://tuncdindas.com "Tunç “Turbo” Dindaş"
[ghostbusters-2]:          http://www.imdb.com/title/tt0097428/
[imdb-vigo-char]:          http://www.imdb.com/character/ch0136657/
[bronx]:                   http://bronxwhq.org/ "Bronx: Louder Than a Bomb"
[dinozorus-youtube]:       http://www.youtube.com/watch?v=2feYA1WcsI0&list=UUKVSD8dqJZ7Fl5-JjYeJAqA
[dinozorus-github]:        https://github.com/vigo/dinozorus
[glock]:                   http://en.wikipedia.org/wiki/Genlock
[imdb-tabutta-rovasata]:   http://www.imdb.com/title/tt0127311/
[imdb-ugur-ozyilmazel]:    http://www.imdb.com/name/nm2606509/
[imdb-thicker-than-water]: http://www.imdb.com/title/tt0220095/
[webbox]:                  http://webbox.io "webBox.io - Development / Design / Consultancy"
[anima]:                   http://anima.gen.tr
[github-vigo]:             https://github.com/vigo

[yesimfo]:                 http://twitter.com/yesimfo
[ezelo]:                   http://ezel.ozyilmazel.com




