---
title: About Me
layout: static_pages_layout
cover: family-05.jpg
---

It’s all started with the mighty Commodore 16 back in 1984... 
My grand-mother Muazzes Demiralp had bought my first computer which was 
Commodore 16 aka **C16**. It was looking like Commodore 64 
except the box color:

<%= zoomable src: '2016-07-25-commodore-16-cbm-museum.jpg',
             alt: 'Commodore 16 photo',
             title: 'My first love: Commodore 16 - Photo &copy; [CBM Museum](http://cbmmuseum.kuto.de/)' %>

C16 games were very disappointing. I was expecting to play games which I’ve seen
on Commodore 64. Most of the games were made by C16’s ASCII characters. I remember
like yesterday, I had packed my C16 and put in to a cabinet. One day, a friend of
mine from 7th grade, came to our house. I showed him the User Manual of C16. 
(*Middle of 1984*).

He started to read the book. After few minutes, he discovered that, It was 
possible to change the colors of screen and borders on C16. I unpacked the C16 
and connected to a TV and we tried:

    COLOR 4,1

Oh my GOD! Border colors turned to BLACK. This was a kind a milestone in my life. 
We tried every possible numbers;

    COLOR 4,2
    COLOR 4,3
    COLOR 4,4
    :
    :

> There were only **16 colors** and we had no idea about that...

I’ve spent at least 4 years (*maybe 5*) with Commodore 16 and learned lots of
stuff. C16 has a basic but easy graphic modes. It was easy to draw circles, plot
some dots etc... I remember, I had written some basic programs to draw `f(x)`
function’s graphical output. Started playing with `SIN` and `COS`

I knew that, there was a monster called Commodore 64 and I had to promote my
self to it! C64 owners were playing great games and I couldn’t. Again, It was
somewhere in 1989 and my beloved grandmother, again, turned my dreams into
reality. (*She passed away in 1998 - miss her everyday...*) She bought
Commodore 64 + 1541 Drive + some cartridges.

I remember, I had called the computer shop and asked them:

> Please copy **One-on-One** and **Barbarian** to a disk for me!

Computer shops were copying games to customers. There weren’t any Original Games
back in days (*Where I live*). All my wish was to play games till the morning 
lights!

<%= zoomable src: '2016-07-25-one-on-one.png',
             alt: 'Screenshot from: One on One game',
             title: 'One on One - Commodore 64' %>

**One on One** was the best basketball game ever! Although It’s old technology,
still amusing and awesome if you compare to actual gaming systems.


<%= zoomable src: '2016-07-25-barbarian.png',
             alt: 'Screenshot from: Barbarian game',
             title: 'Barbarian - Commodore 64' %>

For two-player fun, **Barbarian** was the most entertaining and challenging game
according to It’s age...While I was playing games, something has attracted my
attention. The thing pops up before the game starts... Yes.. I’m taking about
the **crack intros** in-front of the games. **Papillons**’ intro was the first
one I’ve seen...

<%= zoomable src: '2016-11-27-papillons.png',
             alt: 'Screenshot from: Papillons C64 Intro',
             title: 'First seen intro from: **Papillons**' %>

**Update** (*March 21, 2021*):

You can run this [lovely intro](https://www.awsm.de/static/js-cracktros/papillons/) on your browser!
Check out [AWSM](https://www.awsm.de) website for more JS intros. It works with Firefox! (*you need to hear sound*)

---

I’ve somehow managed to change scroller and added my name: **UGUR**. I had no idea,
how to restart scroller from the beginning of the text. Waited for minutes to
see my injection. I remember, I’ve asked my parents to come to my room and
we all waited to see my name on the screen.

That moment was a kind of milestone for me. I was 16 or 17 and captivated by
the sorcerous sounds and images of that 8-bit master: **Commodore 64** till the
end of my life...

## Demoscene

It was 1989. I met a person at a computer shop. Shop owner told me that they
were buying games form that guy. Strange right? Back in days, there were no
software rights, originials etc in Istanbul/Turkey. I asked the guy;

> How do you import games here?

He gave me a C64 floppy disk and asked me, If I could read/write English. And
he mentioned that, I need to take a look at the programs called **Disk Mag**
inside of the disk. He told me that, there was a section called **Contacts** or
**Advertisements**, pick a random person/address and prep a disk, put some
files from the disk and shoot. Well... I did :)

<%= zoomable src: 'impulse-norway-1989.png',
             alt: 'C64 screenshot, view of a directory list',
             title: 'My first incoming warez disk from Impulse/Norway' %>


Unfortunately, **Running Man** was broken. Disk was bended on the postal service.
I remember, [Running Man](http://www.gamebase64.com/game.php?id=6521&d=18&h=0) 
was just released on [Amiga](http://www.lemonamiga.com/games/details.php?id=923) and I was probably the
first person (*I mean in Istanbul/Turkey*) who had that game! Only intro worked 
in the beginning. That was it :)

I acknowledged that there is a kind of clan/world going on. There are people there,
groups there... Crackers there... That was sounding super tempting. Only kool
people knew about it :)))

## Dede Demo Brothers

Since 1984, me and my neighborhood friend Emre Yavuzkal were a kind of software
team called [Dede Demo Brothers](http://dededemobrothers.com/). **Dede** was me.
Means **Grandpa** in Turkish. It was like Grandpa and Demo brothers. Emre’s
handle was Demo :))) He was a Sinclair/Spectrum user. I was Commodore 16. Well,
I can not call this a scene group but feels like it.

## The Hacker Boys

As you feel, super childish group name for [a scene group](http://thehackerboys.com/) right? This was our
first ever official scene group. It was 1989, that C64 disk with mags etc. changed
our lives...We had coders (*C64, Amiga*), Graphic and Sound Artists. We were like
eight (*8*) people.

We released mostly ripped intros. Most of us only knew how to rip and change
code. It was a bit hard for us to code something from scratch.

<%= zoomable src: 'the-hacker-boys.png',
             alt: 'C64 screenshot: the hacker boys music player',
             title: 'Full Screen tech-tech, $1800 - $1806 player' %>

Me and couple crew members joined [The Joker Crew](http://csdb.dk/group/?id=1462).
We were really fast on importing games and demos (*Mostly on C64*). Unlike
The Hacker Boys, all of our intros were 100% our own product :) My nick/handle 
was [Ventor](http://en.wikipedia.org/wiki/Jurgen_Reil).

## Zombie Boys

It was mid 1990. I joined the number one scene group of Turkey. [Zombie Boys](http://zombieboys.net/)
Mostly they were ruling on Amiga. They recruited Comrades/[The Danger Cobra](http://csdb.dk/group/?id=3206)
members all out. Powerful team with coder, gfxers, composers, swappers etc...

<%= zoomable src: 'zombie-boys-heavy-metal.png',
             alt: 'Amiga screenshot: Zombie Boys, Heavy Metal Demo',
             title: 'Zombie Boys, Heavy Metal Demo' %>

Zombie Boys was founded by the legendary [Tunç “Turbo” Dindaş](http://tuncdindas.com).
This was a kind of school to me. Unlimited resource was available. Do you need
some source code? No problem. New everything! Games to disk mags, intros, docs etc.

I switched my nick name to **vigo**. The master evil of 
[The Ghostbusters II](http://www.imdb.com/character/ch0136657/). I met [Ghost](http://janeway.exotica.org.uk/author.php?id=13267).
He taught me lots of lots of thing about assembly coding. I was so lucky. There
were no internet, no google, no stackoverflow but I had Ghost :)

## Bronx

All of the Zombie Boys members were really into hip-hop, graffiti, dj-ing stuff.
We love breakdancing and almost every element of hip-hop culture. One of our
members **Jay Master Coke**, he was listening Kurtis Blow’s LP and the song was:
[The Bronx](https://www.youtube.com/watch?v=xQPZT00wmCw) We were looking for a new
name. **Z** was a bit bad idea. Need to read all of the greetings until the last
letter comes :) Jay proposed: **BRONX** as a new group name!

Young Turkish guys choosing a group name which is the most controversial
neighborhood of NewYork/US :)) Sounds really funny right now!

<%= zoomable src: 'bronx-faith-of-black.png',
             alt: 'Amiga screenshot: Bronx, Faith of Black',
             title: 'Bronx, Faith of Black' %>

I was one the founders of [Bronx](http://bronxwhq.org). We did lots of kool
stuff such as:

* Demo, Intro, Game (File, Full-Disk)
* Graphics, Fonts, Music Disks
* Disk Mags, Pack Mags, Chart Mags
* BBSes, Tools
* Imports

We had more than ten (*10*) different section in the whole planet. Members from
Germany, Denmark, Holland, Norway, Switzerland, United States, Uk, Greece and
more. Here are some more links about team Bronx:

- [Twitter](https://twitter.com/_BRONX_)
- [Facebook](https://www.facebook.com/BronxWorldHq/)
- [Tumblr](http://bronxwhq.tumblr.com/)
- [CSDB](http://csdb.dk/group/?id=627)
- [Exotica](http://janeway.exotica.org.uk/author.php?id=11573)
- [Break’s Demoscene Collection](http://arabuusimiehet.com/break/amiga/index.php?mode=group&groupid=84)

## Other Groups

I was also worked on some other groups like; Coroner, Mystic, Iris, Agnostic Front,
TRSI, Phobia, Devience & Scoopex. Demoscene is a one big and great family. Had
great friends and friendship. I have friends, we knew each other more than 25
years. Sounds crazy :))

## Current Status

Started programming in 1984 and still doing it :) Married in 2003. I became a
father in 2011. Computer programming is a hobby, life-style and my job to live.
I love Ruby, Python, Bash, AppleScript, Swift and C. Digging others and playing
with: Golang, Lisp, JavaScript. I use macOS. I’ve been dealing with Python/Django
apps in my daily routine. Command-line is my biyatch!

Trying to complete my open-source books (*in Turkish*). If you like to get in
touch with me, talk about demoscene, C64, Amiga and other stuff, you can
find me on [Twitter](https://twitter.com/vigobronx) or [GitHub](https://github.com/vigo)

## Contact

If you like to talk about Ruby, Python, Golang, Bash programming languages or 
Commodore 64/Amiga Demoscene stuff, you are welcome to drop me lines at:

<script type="text/javascript">
document.write("<p>");
document.write("hthebmlvyznmry\100tznvy\056pbz".replace(/[a-zA-Z]/g, function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);}));
document.write("</p>");
</script>

My social network profiles are:

* [Twitter](https://twitter.com/vigobronx) @vigobronx
* [GitHub](https://github.com/vigo)
* [Rubygems](https://rubygems.org/profiles/vigo)
* [LinkedIn](https://linkedin.com/in/ugurozyilmazel)
* [Demozoo](https://demozoo.org/sceners/6273/)
* [Exotica](http://janeway.exotica.org.uk/author.php?id=11962)