---
title: "Ağustos dergileri"
date: 2009-08-16 12:31
cover: generic-mags.jpg
og_image: generic-mags.jpg
tags: pwd,icreate,mac format,dergi
comments: true
---
Bazı güzel dergiler aldım: Practical Webdesign, iCreate ve MacFormat
READ_MORE

## Practical Webdesign

<div class="row">
    <div class="col-lg-5">
        <%= card src: 'http://1.bp.blogspot.com/_9jz1qeFrzkQ/SofSCiyRDkI/AAAAAAAACpw/jymdjV5Pf_M/s400/IMG_7032.jpg',
                 alt: 'Fotoğraf: Practical Webdesign dergisi kapağı' %>
    </div>
    <div class="col-lg-7">
        <%= markdown('Favori dergim!

* Ropörtaj: **Justin Cooke**
* **Craig Granell** ile "daha hızlı çalışan web sitesi yapın!"
* Web tasarımındaki yeni boyutlar
* CSS teknikleri: "absolute position" numaraları
* Adobe AIR ile YouTube uygulaması yazın!
* PHP, Wordpress ve XML ile Twitter Banner yapın
* Flash: 3 boyutlu obje çevirin!')%>
    </div>
</div>

---

## iCreate

<div class="row">
    <div class="col-lg-5">
        <%= card src: 'http://3.bp.blogspot.com/_9jz1qeFrzkQ/SofSCDUJCgI/AAAAAAAACpo/h9z84MvoRzU/s400/IMG_7031.jpg',
                 alt: 'Fotoğraf: iCreate dergisi kapağı' %>
    </div>
    <div class="col-lg-7">
        <%= markdown('Yeni Mac kullanıcıları için mükemmel bir dergi. Nedense dayanamayıp her ay
satın alıyorum. Görsel / grafik / mizanpaj hoşuma gidiyor...

* Tonlarca iLife tutorial’ları
* iPhone 3G / iPhone 3GS karşılaştırması
* Yeni Mac dizüstüleri')%>
    </div>
</div>

---

## MacFormat

<div class="row">
    <div class="col-lg-5">
        <%= card src: 'http://1.bp.blogspot.com/_9jz1qeFrzkQ/SofSBi49WiI/AAAAAAAACpg/fOL4omWSTKM/s400/IMG_7030.jpg',
                 alt: 'Fotoğraf: MacFormat dergisi kapağı' %>
    </div>
    <div class="col-lg-7">
        <%= markdown('Ara sıra satın aldığım bir dergi.

* Kapsamlı "Snow Leopard" tanıtımı
* Kapsamlı "iPhone OS 3.0"
* Yeni MacBook Prolar
* Pek çok "How to" teknikleri
* Capture / Digitize nasıl yapılır / donanım ne gerekir?')%>
    </div>
</div>
