---
title: "Bir Kısım Dergi İncelemesi"
date: 2009-04-11 17:28
cover: generic-mags.jpg
og_image: generic-mags.jpg
tags: pwd,dergi,kitap
comments: true
---

Kaç gündür tanıtmayı düşündüğüm dergilere (*Practical Web Design, Web Designer,
iCreate, İz, CNBC-E ve Regular Expression*) ancak fırsat buldum. Sözü fazla
uzatmadan hemen başlıyorum.
READ_MORE

## Practical Web Design

<div class="row">
    <div class="col-lg-5">
        <%= card src: 'http://3.bp.blogspot.com/_9jz1qeFrzkQ/SeCTidkH2xI/AAAAAAAAByY/Mq1qL2n691g/s400/pwebdesign.jpg',
                 alt: 'Fotoğraf: Practical Web Design dergisi kapağı' %>
    </div>
    <div class="col-lg-7">
        <%= markdown('İlk kez dergi satın aldığım yerde bu dergiyi gördüm! Merak ettim hemen satın
aldım. Web uygulamaları ile uğraşanlar için güzel bir kaynak olabilir. Kimlere
hitab ediyor? Orta düzey kullanıcılar için ideal.

Hem teknik hem de magazinsel bilgiler var dergide... Kapağını gördüğünüz
sayıda Yahoo! developer’larından **Christian Heilmann** ile ve
[www.seesmic.com](http://www.seesmic.com/)’un mucidi **Loic Le Meur** ile ropörtajlar var.

Bunun dışında, html / css / js gibi konularda yazılar, web teknolojileri,
web-grafik teknikleri gibi pek çok konuda da makaleler bulunuyor.')%>
    </div>
</div>

Ufak bir not, derginin kapağında "**Practical Web Design**" yazıyor, künyede
ve içerideki her şeyde "**.net**" yazıyor. Hayal meyal hatırlıyorum **.net**
diye bir dergi vardı.

Fakat bunu **Microsoft .Net** ile karıştırmayalım! Sanki .net dergisinin adı
değişmişte bu olmuş gibi. Derginin resmi sitesi : [http://pwdmagazine.com](http://pwdmagazine.com/).
Benim aldığım **187.sayı**. Orada baktım, aynı kapak ama adı .net...
Anlamadım ne alaka?

Ben dergiyi d-aktüel’den aldım. **Dünya Süper Dağıtım** getirmiş. Umarım
gelmeye devam eder... Aylık dergi, menşeyi İngiltere. Orijinal fiyatı: **£5.99**
yani yaklaşık **14 TL**. Tabi bizdeki satış fiyatı ise **29.50 TL**
(*22 Mart 2012: Ne yazıkki bu güzel dergi 2-3 sayı geldi ve bir daha görünmedi*)

---

## Web Designer

<div class="row">
    <div class="col-lg-5">
        <%= card src: 'http://1.bp.blogspot.com/_9jz1qeFrzkQ/SeCTkcl9VlI/AAAAAAAAByg/aAk0h9tf4uw/s400/webdesigner.jpg',
                 alt: 'Fotoğraf: Web Designer dergisi kapağı' %>
    </div>
    <div class="col-lg-7">
        <%= markdown('Bu dergiyi uzunca bir süredir almıyorum ama pek çok insanın işine yarar diye
düşünüyorum. Dergi ağırlıkta grafik-tasarım ve web-tasarım yapanlara hitab
ediyor.

Grafikerlerin mecburen web sitesi yapmaları durumunda
(*her grafiker programcı olmak zorunda değil!*) her hangi bir JavaScript ya da
Php kütüphanesini nasıl sitelerine entegre edebileceklerinden tutun da, flash,
Css vesiare konularda da "**novice / beginner level**" yani ortanın altı
kullanıcılara hitab eden çok kaliteli bir dergi.')%>
    </div>
</div>

Bu dergi yurt dışında satılıyor. Satın almak çok kolay. Hemen yayıncının
sitesine gidip tek tek satın alabiliyorsunuz. Yani abone olmanız gerekmiyor.
Yayıncı kuruluş: [Imagine Publishing](http://www.imagine-publishing.co.uk/WebDesigner/index.html).

Dergi **£6** yani yaklaşık **13.8 TL**. Posta ile yoklaşık **£10**’a geliyor
yani **23 TL** gibi bişi. Ben hep sanal kartımla alıyorum, 1 haftadan kısa
bir sürede ofise geliyor! Tavsiye ediyorum.

---

## Regular Expression

<div class="row">
    <div class="col-lg-5">
        <%= card src: 'http://4.bp.blogspot.com/_9jz1qeFrzkQ/SeCToIKZrsI/AAAAAAAAByo/jhpsTRceem8/s400/regexpocket.jpg',
                 alt: 'Fotoğraf: Regular Expression kitabının kapağı' %>
    </div>
    <div class="col-lg-7">
        <%= markdown('O’Reilly yayınları, development ile ilgilenen herkes tarafından bilinir. Ben,
genelde, bu tür kitapları hep **PDF** ya da **CHM** olarak gördüm.

Geçenlerde Amazon’da bir de baktım acaip bir indirim ve update edilmiş
versiyon!

Fiyatı **£7.19** yani yaklaşık **16.5 TL**. Güzel yanı, yeni başlayanlar için
çok güzel örnekler ve açıklamalar bulunuyor.

Perl 5.8, Php, .Net, C#, Python ve Java’da Regular Expression Modifier’ları
anlatıyor.

Hakikaten de tam ceplik! [Amazon linki](http://www.amazon.co.uk/exec/obidos/ASIN/0596514271)')%>
    </div>
</div>

---

## İZ

<div class="row">
    <div class="col-lg-5">
        <%= card src: 'http://2.bp.blogspot.com/_9jz1qeFrzkQ/SeCTo3zk6dI/AAAAAAAAByw/x3HXY5xkGas/s400/iz.jpg',
                 alt: 'Fotoğraf: İZ dergisi kapağı' %>
    </div>
    <div class="col-lg-7">
        <%= markdown('Tesadüfen görüp aldığım, aldığıma da çok sevindiğim bir dergi. Derginin
mutfağında **Ara Güler** ismini görmek de ayrı bir heyecan. Dergi fotoğraf
sanatçıları ve portfolyaları ile ilgili.

Bu bakımdan fotoğraf sevenlere şiddetle tavsiye ediyorum. Bu sayısından en
beğendiğim bir-iki sayfayı da ekledim.

Derginin baskısı, kağıt kalitesi de fiyatına göre çok hoşuma gitti. Dergi
iki ayda bir çıkıyor, [Fotoğraf Evi](http://www.fotografevi.com/)’nden... Fiyatı: **9 TL**')%>
    </div>
</div>
<div class="row">
    <div class="col-lg-5">
        <%= card src: 'http://3.bp.blogspot.com/_9jz1qeFrzkQ/SeCTpvVWMQI/AAAAAAAABy4/1I9kH-Fpbsw/s400/iz2.jpg',
                 alt: 'Fotoğraf: İZ dergisinden, Jan Banning’den Bureaucratics yani Bürokratlar adlı çalışmalar' %>
    </div>
    <div class="col-lg-7">
        <%= card src: 'http://1.bp.blogspot.com/_9jz1qeFrzkQ/SeCTqG5qCXI/AAAAAAAABzA/QW5nBrTqPPI/s400/iz3.jpg',
                 alt: 'Fotoğraf: İZ dergisinden' %>
    </div>
</div>

---

## iCreate

<div class="row">
    <div class="col-lg-5">
        <%= card src: 'http://4.bp.blogspot.com/_9jz1qeFrzkQ/SeCTw5nu2nI/AAAAAAAABzI/3qcrvzQkovQ/s400/icreate.jpg',
                 alt: 'Fotoğraf: iCreate dergisi kapağı' %>
    </div>
    <div class="col-lg-7">
        <%= markdown('Bu dergi ile ilk kez geçen sene Ocak ayında tanışmıştım. Eşim için almıştım,
Mac’e ısınsın, "**how to...**"lara baksın, bir şeyler öğrensin Mac OS ile
ilgili diye...

Evet, gerçekten de yeni Mac sahibi olanlar için harika bir dergi. Tonlarca
tutorial bulunuyor. Aşama aşama en ince detayına kadar açıklamalı. Uzunca bir
süredir satın almıyorum çünkü benim için çok basit kalan bir dergi fakat
içerisinde güzel makaleler bulunuyor.

Bazen, can sıkıntısından, alacak dergi bulamadığım için alıyorum iCreate.')%>
    </div>
</div>

Bu dergiyi Nezih Kitabevi’nden ve D-Aktüel’den bulabilirsiniz. Türkiye satış
fiyatı **28.5 TL** idi. Eğer orijini olan İngiltere’den alırsanız,
**£6** dergi + **£4** yol = **£10** yani yaklaşık **23.5 TL**’ye dergi
ayağınıza geliyor.

Neden bilemiyorum ama Türkiye sayıları **1 ay** geriden geliyor... iPhone
ile birlikte dergide iPhone için ayrılmış pek çok köşe, tanıtım, application
tanıtımları gibi sayfalar da bulabilirsiniz.

[iCreate internet sitesi](http://www.imagine-publishing.co.uk/iCreate/index.html)

---

## CNBC-E Dergisi

<div class="row">
    <div class="col-lg-5">
        <%= card src: 'http://3.bp.blogspot.com/_9jz1qeFrzkQ/SeCTxwKB8KI/AAAAAAAABzQ/73ZsnAZ6F6c/s400/cnbce.jpg',
                 alt: 'Fotoğraf: CNBC-E dergisi kapağı' %>
    </div>
    <div class="col-lg-7">
        <%= markdown('Bu dergiyi ilk çıktığında büyük bir heyecanla satın almış, heyecanım
kursağımda kalmış ve süper hayal kırıklığına uğramıştım. Takip ettiğim tüm
diziler CNBC-E’de idi ve ben bu dergiden "**Episode Guide**" tadında bilgiler
bekliyordum.

İlk 4-5 sayıyı en azından destek olmak adına alıp daha sonra
"**ooof yok artık almayacağım**" demiştim. Sadece, arada, ilgimi çeken bir
ilavesi varsa (*oyun kartları, 24ün VCD’si gibi*) alıyordum...

Aynen geçen gün olduğu gibi, ben de bu 3D gözlüklere sahip olmak için düştüm
yollara. Hatta FriendFeed’de de yazmıştım, Bağdat caddesinde dergiyi
bulamadım! diye...')%>
    </div>
</div>


Neyse geçenlerde buldum aldım. Bugün "**hmmm bi bakim şu dergiye**" dedim... 
İnanılmaz derece de hoşuma gitti. Neredeyse ilk kez tüm sayfaları okudum
diyebilirim.

Bilemiyorum ya dergi gerçekten değişti ya da şansıma benim hoşuma giden
konular vardı?... Bunun şerefeni ben de bu dergiyi "blog" umda tanıtmak
istedim...

Aylık çıkıyor, fiyatı **3 TL**
