---
title: "Dergiler"
date: 2009-07-28 11:18
cover: generic-mags.jpg
og_image: generic-mags.jpg
tags: retrogamer,web designer,pwd,dergi
comments: true
---

Bu ay da sizlere kendi çapımda, takip ettiğim dergileri tanıtmaya devam edeceğim:
Retrogamer, Web Designer, Color, Practical Web Design, Computer Arts,
Bilim ve Teknik... READ_MORE

## Retrogamer # 66

<div class="row">
    <div class="col-lg-5">
        <%= card src: 'http://3.bp.blogspot.com/_9jz1qeFrzkQ/Sm600VvtJWI/AAAAAAAACn0/-Lr8BKvKZD0/s400/IMG_6076.jpg',
                 alt: 'Fotoğraf: Retrogamer dergisi kapağı' %>
    </div>
    <div class="col-lg-7">
        <%= markdown('* **Road Runner**: Behinde the scenes (*Atari*)
* **Hudson Soft** dosyası
* Tasarımcı **Brian Colin** ve Bally/Midway (*Spy Hunter*) dosyası
* Retro Computer Müzesi açılışı.
* Blitz Game Studio’dan **Oliver Twins**')%>
    </div>
</div>

---

## Retrogamer # 65

<div class="row">
    <div class="col-lg-5">
        <%= card src: 'http://3.bp.blogspot.com/_9jz1qeFrzkQ/Sm600DvmbuI/AAAAAAAACns/ZF5W6_pCO8U/s400/IMG_6075.jpg',
                 alt: 'Fotoğraf: Retrogamer dergisi kapağı' %>
    </div>
    <div class="col-lg-7">
        <%= markdown('* Efsane oyun firması **Elite** dosyası
* BBC Micro, **Archimedes** tanıtımı
* Activision’dan **David Crane**
* **John Romero**: Making of Wolfenstein 3D
* Videogame Nation

[Retrogamer](http://www.retrogamer.net/), yaşı benim gibi 30-35’in üzerinde olan; Amstrad,
Commodore, Sega, Nintendo, Atari, Sinclair, Coin-op, Amiga gibi klasik, hiç 
eskimeyen makineleri sevenler için hazırlanmış bir dergi.')%>
    </div>
</div>

Derginin en süper tarafı da, efsane oyun firmaları ile ilgili süper dosyalar,
oyunların **making-of**’ları gibi hiç bir yerde bulamayacağımız dökümanter
bilgilerin olması. Dikkat ederseniz derginin kapağında **OLD** diye bir ibare 
var! yani **ESKİ** anlamında! Keza, beni en çok hüzünlediren şey ise, 
**Tarihte Bugün** sayfası.

Örneğin **Temmuz 2009** sayısında, **1987**’nin Temmuz ayında çıkmış dergilerin
**Top 10** oyun listeleri (*C64 / Amiga / Atari / Sinclair* vs...) ve pop müzik
listeleri bulunmakta... Benim gibi 80’li yıllarda yaşıyorsanız kaçırmayın!
  
Fiyatı: **£4.99** yani yaklaşık: **12,250 TL**

Tabiki herzaman olduğu gibi dergi Türkiye’de satılmıyor fakat edinmek çok
kolay. Ben abone olmadan teker teker alabiliyorum. Online satın almak için
link’e [tıklayabilirsiniz][rrshop].

---

## Web Designer # 159

Uzunca zamandır ara ara satın aldığım bir dergi. Başlangıç - Orta seviye
arasında, daha ziyade tasarımcılara yönelik. Yani işi grafik tasarımı olan
fakat mecburen yazılım tarafına dalmak zorunda kalanlar için çok başarılı bir
kaynak. (*html / css / javascript / php / mysql vs...*)

<div class="row">
    <div class="col-lg-5">
        <%= card src: 'http://3.bp.blogspot.com/_9jz1qeFrzkQ/Sm60tjUYNLI/AAAAAAAACnk/yEs-pD0Ut1M/s400/IMG_6074.jpg',
                 alt: 'Fotoğraf: Web Designer dergisi kapağı' %>
    </div>
    <div class="col-lg-7">
        <%= markdown('Bu ayki sayıda;

* Ropörtaj: **Carsonified**
* Photoshop Teknikleri
* CSS ile floating
* Flash ile **audioplayer** yapmak
* Php / Ajax ile live-search

gibi pek çok popüler konu işleniyor. Wordpress temaları, tutorialleri,
tonla photoshop materyalleri de yanındaki CD ile...')%>
    </div>
</div>

Fiyatı: **£5.99** yani yaklaşık **14,7 TL** aynen [Retrogamer][retrogamer]
gibi bu dergiyi de internet üzerinden tane tane [alabilirsiniz][wdshop]. Posta 
ücreti yaklaşık **10 TL** tutuyor!

---
  
## COLOR # 3 / Eylül 2009

<div class="row">
    <div class="col-lg-5">
        <%= card src: 'http://3.bp.blogspot.com/_9jz1qeFrzkQ/Sm60tVbpyPI/AAAAAAAACnc/ik3DKa0Iqu4/s400/IMG_6073.jpg',
                 alt: 'Fotoğraf: Color dergisi kapağı' %>
    </div>
    <div class="col-lg-7">
        <%= markdown('Bu ayki sayıda;

* Julie Blackmon
* Paul Damato
* Shuli Hallak
* Todd Deutsch
* Susan Bozic
* Jeff Jacobson
* Carolyn Moore

gibi fotoğrafçıların eserleri bulunuyor. Fiyatı: **30 TL**, D-Aktüel
(*Dünya Aktüel*) mağazalarında satılıyor! Resmi internet sitesi: 
[http://color-mag.com/](http://color-mag.com/)')%>
    </div>
</div>

Amerikan menşeyili fotoğraf dergisi. Yepyeni bir ürün. İlk sayılarından
yakalama şansınız var. Dergi, ağırlıkla portfolyo yayınlıyor. Eğer siz de
benim gibi fotoğraf severseniz, bu dergi çok hoşunuza gidebilir.

Yepyeni fotoğraf sanatçıları, eski üstadlar ve benzer sanatçıları tanımak ve
eserlerini görmek açısından çok güzel bir dergi. Keza, sergiler, galeriler ve
fotoğraf / sanatla ilgili pek çok konuda da haber bulunuyor.

---
  
## Practical Web Design

<div class="row">
    <div class="col-lg-6">
        <%= card src: 'http://3.bp.blogspot.com/_9jz1qeFrzkQ/Sm60slmA1gI/AAAAAAAACnE/U9NjMw7KhMo/s400/IMG_6069.jpg',
                 alt: 'Fotoğraf: Practical Web Design dergisi kapağı' %>
    </div>
    <div class="col-lg-6">
        <%= card src: 'http://2.bp.blogspot.com/_9jz1qeFrzkQ/Sm60tJVhLrI/AAAAAAAACnU/uGaV4sVqFXA/s400/IMG_6072.jpg',
                 alt: 'Fotoğraf: The Future of Mobile dergisi kapağı' %>
    </div>
</div>
  
Bu ay yanında **bonus** bir dergicik daha çıktı. Mobil cihazlar için web
sitesi tasarlama rehberi. Keza yine dopdolu;

* Ropörtaj: Mashable’ın CEO’su **Pete Cashmore**
* Web sitelerinde moda olan uygulamaların API’larını kullanmak
* Css Teknikleri: **Master Sprite Image** kullanımı
* Flash Teknikleri: "Siteninizi google’a uygun şekle getirin!"
* jQuery ile AJAX chat
* Özel Web Fontları nasıl kullanılır?
* Opera Browser ekibinden **Håkon Wium Lie** ile sohbet 

Fiyatı: **30 TL**, D-Aktüel (*Dünya Aktüel*) mağazalarında satılıyor!  
  
---

## Computer Arts # 164

<div class="row">
    <div class="col-lg-5">
        <%= card src: 'http://4.bp.blogspot.com/_9jz1qeFrzkQ/Sm60s5psnII/AAAAAAAACnM/CfTQ8Ye8r3U/s400/IMG_6071.jpg',
                 alt: 'Fotoğraf: Computer Arts dergisi kapağı' %>
    </div>
    <div class="col-lg-7">
        <%= markdown('Bu ayki konular;

* Farklı renk kullanımları ve etkileri
* Photoshop, Illustrator, InDesign ve Flash teknikleri
* D & AD kazananları
* Doğru kağıt seçimi
* **Autumn Whitehurst** ile ropörtaj
* Tonlarca tutorial!

Genelde pek satın almadığım bir dergidir. Bu ay, farklı kapak / renk
tasarımları yapmışlar, bu bakımdan merak edip aldım. Aynı dergiden 2-3 farklı
edisyonlu kapak!')%>
    </div>
</div>


Neredeyse tamamen grafik tasarımcısına hitap eden dergiyi pek çok dergi satan
yerde bulmanı mümkün (*D&R, Nezih, Remzi, D-Aktüel gibi...*) 

---

## Bilim ve Teknik

<div class="row">
    <div class="col-lg-5">
        <%= card src: 'http://1.bp.blogspot.com/_9jz1qeFrzkQ/Sm7ZLInosII/AAAAAAAACn8/pH8IR7GOADA/s400/IMG_6077.jpg',
                 alt: 'Fotoğraf: Bilim ve Teknik dergisi kapağı' %>
    </div>
    <div class="col-lg-7">
        <%= markdown('Sevgili [Serdar Kuzuloğlu](http://twitter.com/mserdark)’nun [FriendFeed](http://friendfeed.com/mserdark/1ed5dcf4/bilim-ve-teknik-in-temmuz-sayisini-ancak-aldim)’deki uyarısı ile,
uzuuuunca zamandır hiç ama hiç almadığım Tübitak’ın efsane dergisi
**Bilim ve Teknik**’de satın aldım... Sebebi çok basit; **42 yıllık arşiv**
dvd ile veriliyor. (*8.5 gig dual layer*)

Lise yıllarında çok okurdum, sonra nedense hoşuma gitmedi... Eski sayılara
sahip olmak isterseniz tükenmeden satın alın!

[Resmi web sitesi](http://www.biltek.tubitak.gov.tr/)
Fiyatı: **3.5 TL** neredeyse her gazete bayiisinde var!')%>
    </div>
</div>

[retrogamer]: http://www.retrogamer.net/
[rrshop]: http://www.imagineshop.co.uk/products_show.php?typeID=65
[wdshop]: http://www.imagineshop.co.uk/products_show.php?typeID=51
