---
title: "Kişisel Websitesi"
---

<% I18n.locale = :tr %>

<%= build_images_array_for_js %>


<%= partial 'partials/top_menu', locals: {
    current_url: current_page.url,
} %>

<%= partial 'partials/page_cover', locals: {
    cover_title: 'Uğur &ldquo;vigo&rdquo; Özyılmazel',
    cover_subtitle: t('homepage_subtitle')
} %>


<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
            <section id="article">
                <p>
                    <a title="Commodore 64&rsquo;ün makine dili: 6502" href="http://6502.org/">Commodore 64</a> ve 
                    <a title="Amiga için 68000 Assembly" href="https://en.wikibooks.org/wiki/68000_Assembly">Amiga</a>&rsquo;dan
                    daha iyi bir bilgisayarın olmadığına inan, yaşlı, huysuz bir ihtiyar...
                </p>
                <hr/>
                
                <%= partial 'partials/index_latest_posts', locals: {
                  articles: blog("tr").articles,
                  html_id: 'latest-posts',
                  header: 'Son Eklediğim Yazılar',
                } %>
                
                <hr/>
                
                <h2>Güncel Projelerimin Bir Kısmı</h2>
                <p class="lead">
                    En güncel <strong>10</strong> proje listlenmiştir. GitHub&rsquo;daki açık-kaynak projelerimin tümünü görmek için
                    <a href="https://github.com/vigo">tıklayabilirsiniz</a>.
                </p>
                <div id="github-latests">Yükleniyor...</div>
                
                
            </section>
        </div>
    </div>
</div>

<%= partial 'partials/footer' %>

<% content_for :extra_js do %>
  <%= javascript_include_tag 'moment.min' %>
  <%= javascript_include_tag 'moment-tr' %>
<% end %>